* {
	padding:0;
	margin:0;
}


body{
	background-color: #ccc;
	/* elimina la barra di scorrimento verticale  */
	overflow:hidden;	
}

#wrapper{
	width: 1000px;
	height: 100vh;
	margin: 0 auto;
	background-color: white;

	*{
		margin: 12px;
	}

	> h1{
		margin:0;
		padding:15px;
		text-align: center;
	}
}       




