*{
    padding:0px;
    margin:0;
}

html, body, #wrapper{
	height:100%;
}

body{
    font-family:verdana,arial,sans-serif;
    font-size:9pt;
}

#wrapper{
    width: 770px;
    padding:1px 4px;
    margin:0 auto;
}


/**************************************************************/
#topFrame{
    height:275px;
    
}


/**************************************************************/
#leftFrame{
    width:145px;
    float:left;
	padding-left:7px;
}


/**************************************************************/
#mainFrame{
	display:inline-block;
	width:460px;
    margin: 0 10px;
}


/**************************************************************/
#rightFrame{
    width:130px;
	padding-right:6px;
    float:right;
	font-size:8pt;
}


/**************************************************************/
#bottomFrame{
    clear:both;
    padding:8px 0;
    color:#808080;
}
