p{
    padding: 12px;
    margin: 15px;
    border: 1px solid #ccc;
}

/*Priorità 3*/


/*Priorità 2*/
p.paragrafo{
    color:#0a0;
}

/*Priorità 2 come le classi*/
p:nth-of-type(2){
    color:#a0a;
}

/*Priorità 1*/
p{
    color:#00f ; /*Indipendentemente da dove si mette il !important copre tutte le altre proprietà*/
}

/* A parità di priorità quelli più specifici vincono su quelli meno specifici*/
#wrapper p{
    color: #00f;
    background-color: #afa;
}

/* spazio e parentesi angolare hanno lo stesso livello di priorità*/
#wrapper>p{
    background-color: #ffa;
}

/*nth-of-type ha priorità 2*/
#wrapper p:nth-of-type(2){
    background-color: #888;
}

#id1{
    color:#f00;
}

#wrapper div{
    width:200px;
    height:200px;
    border:1px solid #000;
    margin: 15px auto;
    background-color: #aaa;
}

#wrapper div p{             /*Per allineare un testo al centro di un div*/
    padding: 0;             /*Per allineare un testo al centro di un div*/
    margin:0;               /*Per allineare un testo al centro di un div*/
    height:200px;               /*Per allineare un testo al centro di un div*/
    text-align: center;             /*Per allineare un testo al centro di un div*/
    line-height: 200px;             /*Per allineare un testo al centro di un div*/
}