*{
    margin:0;
    padding: 0;
}


h1{
    text-align: center;
    font-weight: normal;
    padding: 20px;
    padding-bottom: 40px;
}

h1 span{
    font-style: italic;
    font-weight: bold;
}


#wrapper label, #wrapper input{
    display: inline-block;
    width: 150px;
    margin: 5px;
}

#wrapper label{
    text-align: right;
}

#wrapper{
    width: 350px;
    border:1px solid #aaa;
    padding: 15px;
    margin: 10px auto;
}