* {
    padding: 0px;
    margin: 0px;
}

html,
body,
#wrapper {
    height: 100%;
}

body {
    background-image: url(./img/bg.gif);
    background-color: #eaeaea;
    background-repeat: repeat-y;
    background-position: center;
}

#wrapper {
    border: 1px solid #eeFFFF;
    width: 780px;
    background-color: #eeFFFF;
    margin: 0px auto;
}

#navbar {
    display: block;
    width: 639px;
    margin: 0px auto;

    ul {
        margin: 0px auto;
        margin-top: 15px;

        li {
            display: inline-block;
            width: 100px;
            height: 25px;
            text-align: center;
            font-weight: bold;
            background-color: #eeeeee;
            border: 1px solid #bbbbbb;
            border-bottom-width: 3px;
            line-height: 25px;
            vertical-align: center;


            a {
                color: #118;
                text-decoration: none;
            }


        }

        li:hover {
            cursor: pointer;
            border-bottom-color: #4ce;

            a {
                color: #4ce;
            }
        }
    }
}

#titolo{
    width: 80%;
    height: 250px;
    margin: 25px auto;
    background-image: url(./img/1_langhe.jpg);
    background-size: 100% 100%;
    color: #fff;
    
    
    h1{
        margin-left: 16%;
        font-family: arial;
        font-size: 30pt;
        font-weight: bold;
    }
    h2{
        margin-left: 16%;
        font-size: 19pt;
    }
}

#mainSection{
    width: 440px;
    height: 500px;
    margin: 0px 10px;
    padding-left: 10px;
    overflow: auto;
    div{
        float: right;
        width: 160px;
        height: 105px;
        background-image: url(./img/2_bergolo.jpg);
        margin: 10px;
        p{
            padding-top: 20px;
            opacity: 0;
            width: 100%;
            height: 85px;
            font-size: 10pt;
        }
        p:hover{
            opacity: 1;
            text-align: center;
            color:#e0e0e0;
            background-color: rgba(0, 0, 0, 0.4);
        } 
    }
}
#aside{
    float: right;
    /*780-460-15=305*/
    width: 305px;
    padding-left: 15px;
    div{
        display: inline-block;
        width: 100px;
        height: 75px;
        background-size: cover;
        margin-bottom: 10px;
        background-size: 100% 100%;
    }
    div:hover{
        opacity: 0.7;
    }
    p{
        display: inline-block;
        width:160px;
        height: 75px;
        font-size: 15px;
        font-family: arial;
        vertical-align: top;
    }
    p:hover{
        color:#4ce;
        font-weight: bold;
    }
    div:nth-of-type(1){
        background-image: url(./img/fenoglio.jpg);
    }
    div:nth-of-type(2){
        background-image: url(./img/gastronomia.jpg);
    }
    
    div:nth-of-type(3){
        background-image: url(./img/novello.jpg);
    }
    div:nth-of-type(4){
        background-image: url(./img/paesaggio.jpg);
    }
    div:nth-of-type(5){
        background-image: url(./img/pavese.jpg);
    }
}