*{
    margin: 0;
    padding: 0;
}
Div, P, h1, h2, h3{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Times New Roman', 'Times', 'serif';
    font-size: 12pt;
}
#wrapper{
    width: 760px;
    margin: 0px auto;
    background-color: #BBB;
    border: 2px solid black;

}

#wrapper :nth-of-type(1), #wrapper :nth-of-type(2), #wrapper :nth-of-type(3){
    margin: 3px;
    border: 1px solid #777;
    background-color: #ddd;
}

h1{
    padding-top:20px;
    padding-bottom: 10px;
    font-size: 18pt;
    text-align: center;
}

h2{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18pt;
    text-align: center;
}

#menu{
    font-size: 12pt;
    padding: 30px 0px;
    text-align: center;
}
#menu a{
    padding: 10px 18px;
    color: #333;
    border: 2px solid #777;
    background-color: #ccc;
    overflow: auto;
}

#menu a:hover{
    color: #777;
    background-color: #eee;
}
#contenuto img{
    float: right;
    padding: 10px;
}
img{
    display: block;
    margin: 0px auto;
}
