
.drag {
    width: 180px;
    height: 40px;
    background: lightblue;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #abd;
  }

  #dropzone {
    width: 190px;
    height: 400px;
    border: 2px dashed gray;
    margin-top: 20px;
    display: flex;
    flex-direction : column;
	/* allineamento verticale che poi diventerà flex-start */
    justify-content: center;
    align-items: center;
	user-select:none;  
  }