p{
    color:blue
}

/* Definisco una classe, che può essere applicata a qualunque tag, che chiamo corsivo (il puntino serve per definire una classe)*/
/* le classi con unalettera o un tipo di tag prima del pountino si possono applicare soltanto al tag indicato (p.corsivo si può applicaresoltantoai tag p)*/
.corsivo{
    font-style:italic;
}

.sottolineato{
    text-decoration:underline;
}

.grassetto{
    font-weight:bold;
}

.box{
    border:1px solid black;
    background-color: #ff8;
    margin: 15px;
    padding: 10px;
}

#div1{
    width: 200px; /* in css bisogna SEMPRE esprimere l'unità di misura, mentre nelle property in html non si deve MAI mettere*/
    height: 200px;
}

#div2{
    width: 150px;
    height: 150px;
    margin-top: 60px;
    overflow: auto;
}

#div3{
    width: 300px;
    height: 150px;
    background-image: url(./img/Koala.jpg);
    background-size: contain;
    border: 1px solid black;
}