*{
	padding:0;
	margin:0;	
}
h1{
	text-align:center;
	margin:25px;
}

#wrapper1 div, #wrapper2 div{
    width: 160px;
	height: 60px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
}

/* ************************ border-radius ************************** */
#wrapper1 div:nth-of-type(1){
    border-radius: 50%;
	height:160px;
}
#wrapper1 div:nth-of-type(2){
    /* 1° = curvatura asse orizzontale  */
    /* 2° = curvatura asse verticale    */
    border-radius: 30px/10px;
}
#wrapper1 div:nth-of-type(3){
	/*, a partire dallo spigolo superiore sinistro, in senso orario */
    border-radius: 10px 40px 10px 40px;
}

/* ***************************** ombre ***************************** */
#wrapper2 div:nth-of-type(1){
    /* La luce arriva SEMPRE dallo spigolo in alto a sinistra 
       1° = ombra verso destra
       2° = ombra verso basso
       3° = colore ombra    */
    box-shadow: 6px 3px #AAA;
}
#wrapper2 div:nth-of-type(2){
    box-shadow: -6px 3px #AAA;
}
#wrapper2 div:nth-of-type(3){
    /* 3° parametro = raggio di sfumatura 
       0 = senza sfumatura      */
    box-shadow: 6px 3px 6px #AAA;
}
#wrapper2 div:nth-of-type(4){
    /* oggetto incassato  */
    box-shadow: inset 6px 3px #AAA;
}
#wrapper2 div:nth-of-type(5){
    box-shadow: 6px 4px 2px #0F0,
                -8px -4px 4px #00F,
               12px -12px 6px #F00;
}
#wrapper2 div:nth-of-type(6){
    font-size: 20pt;
    font-weight: bold;
	text-align:center;
	line-height:60px;
    text-shadow: 2px 2px 3px #AAA;
	resize:both;
	overflow:auto; 
}


/* ************************ Pulsante  ********************** */
button{   
	padding:10px 20px;
	margin:15px;
    box-shadow: 2px 2px 2px #888;
	border-radius:8px;
}

button:active{   /* effetto INCASSO */
    box-shadow: inset 4px 3px 2px #888;
	background-color:#FFF;
}

/* FIREFOX assegna sull'active uno sfondo grigio che rende invisibile l'ombra */
/* Si può risolvere semplicemente impostando background-color:#FFF            */