*{
	padding:0;
	margin:0;	
}

h1{
	text-align:center;
	margin:30px;
}

#wrapper >div{
	width: 300px;
	height: 200px;
	border: 1px solid #aaa;
	margin:20px auto;
}

#wrapper>div:nth-of-type(1){
	/*
	1 paramentro direzione gradiente (dall'alto verso il basso)
	2 i funti ti stop (ogni punto di sto è rappresentato da una coppia in cui: 
	 - il primo numero rappresenta il colore
	 - il secondo la posizione)
	*/
	background-image: linear-gradient(to bottom, #00f 5%, #bcf 60%, #dcd 70%, #fff 100%);
}

#wrapper>div:nth-of-type(2){
	background-image: linear-gradient(to bottom right, #fff 0%, #bf15aa 35%, #aacfef 100%);
}

#wrapper>div:nth-of-type(3){
	background-image: linear-gradient(to right, red, rgb(255, 81, 0), yellow, green, blue, indigo);
}

#wrapper>div:nth-of-type(4){
	background-image: radial-gradient(circle at 50% 25%, #ff4 20%, #9ef 45%, #0bf 100%);
}

#wrapper>div:nth-of-type(5){
	background-image: radial-gradient(circle at 50% 25%, #fff 0%, #00d 40%, #05e 100%);
}

	
	
	
	
	
	
	
	
	
	