*{
    margin: 0px;
    padding: 0px;
}

html, #wrapper, body{
    height: 100%;
}
body{
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    background-color: #eaeaea;
    background-image: url(./img/bg.gif);
    background-repeat: repeat-y;
    background-position: center;
}

#wrapper{
    margin: 0px auto;
    width: 750px;
    padding: 0px 15px;
    background-color: #ff8;

    h1{
        padding: 35px 0px;
        text-align: center;
    }

    #menuBox{
        background-image: url(./img/sfondo.jpg);
        border-radius: 20px;
        height: 60px;
        padding-bottom: 30px;
        border: 1px solid #ff8; 
        ul{
            text-align: center;
            margin: 30px 0px;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    text-decoration: none;
                    width: 95px;
                    border: 1px solid #aaa;
                    border-right: 4px solid #aaa;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    background-color: rgb(220, 255, 255);
                    color: #676767;
                    font-size: 10pt;
                    font-weight: bold;
                    margin: -1;
                }
                a:hover{
                    color: #444;
                    background-color: rgb(0, 255, 255);
                    border-right-color: #00F;
                }
            }
        }
    }

    #newsBox{
        width: 220px;
        height: 300px;
        margin-left: 30px;
        margin-right: 10px;
        float: right;

        h1{
            padding-top: 30px;
            padding-bottom: 10px;
        }
        div{
            height: 220px;
            overflow: auto; 
        }
    }

    #mainBox{
        padding-top: 60px;
        padding-left: 15px;

        div{
            background-image: url(./img/immagine.jpg);
            width: 125px;
            height: 100px;
            border: 4px solid #676767;
            margin: 10px;
            float: right;
            p{
                opacity: 0;
                color: #eee;
                padding: 32pX 0px;
                padding-left: 10px;
                vertical-align: center;
                width: 115px;
                height: 36px;
            }
            p:hover{
                opacity: 0.75;
                color: #eee;
                padding-left: 10px;
                background-color: #353535;
            }
        }
    }
}