*{
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 450px;
    margin: 30px auto;
    border: 1px solid #ccc;
    text-align: center;
}

p{
    display: block;
    width: 400px;
    font-family: Verdana, Arial;
    font-size: 12pt;
    font-style: italic;
    color: #555;
    letter-spacing: -1px;
    word-spacing: -1px;
    margin: 10px 25px;
    text-align: center;
}

p.Titolo{
    font-size: 24pt;
    color: #f00;
    font-weight: bold;
    font-style: normal;
    background-color: #d3d3d3;
}

p:nth-of-type(3){
    font-size: 18pt;
    color: #307e15;
    font-weight: bold;
    border: 2px solid black;
    padding: 15px 10px;
    background-color: #fffee2;
    width: 377px;
}

p:nth-of-type(3):hover{
    color: #f00;
    cursor: pointer;
}

p:nth-of-type(4){
    border: 3px dashed #000;
    overflow: auto;
}