
*{
	padding:0;
	margin:0; 
}

h1{	
	text-align:center; 
	margin:25px; 
}

body{ 
	height:100vh;
	background-color:#ffc; 
}

.box{ 
	width:200px;  
	height:200px;
    margin:50px;  
	border:1px solid black; 
}



/* ***************************** BOX 1 ********************* */

.box1{
	transition: wisth 1s, font-size 1s;
}

.box1:hover{
	width: 400px;
	font-size:1.5em;
	cursor: zoom-in;
}

.box2{
	width:100px;
	height:40px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	background-color: #ddd;
	transition: 500ms;
}

.box2:hover{
	background-color:#666;
	color: #ddd;
	transform: scale(1.15);
	cursor: pointer;
}

.box3{
	width:100px;
	height:40px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	background-color: #ddd;
	transition: 500ms;
}

.box3:hover{
	background-color:#666;
	color: #ddd;
	transform: rotate(360deg);
	cursor: pointer;
}

.box4{
	transition:2s;
}

.box4:hover{
	color:blue;
	transform: rotateZ(180deg);
}

.box5{
	transition:2s;
}

.box5:hover{
	color:blue;
	transform: rotateZ(180deg);
}

.box5 p{
	height:100%;
	transition:2s;
}

.box5 p:hover{
	transform: rotateZ(-180deg);
}

.box6{
	height: 160px;
	width: 260px;
	border: none;
	perspective: 800px;
}

.box6 .card{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 1px solid #009;
	background-image: linear-gradient(-229deg, #9B7AE0, rebeccapurple);
	background-image: linear-gradient(-229deg, #00c6ff, #0004ff);
	color: #fff;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card-front, .card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box; /*Fa si che il padding venga ricavato all'interno dell'elemento senza allargare width e height*/
	backface-visibility: hidden;/*Fa si che la faccia */
}

.card-front{
	display:flex;
	flex-direction: row; /*default*/
	justify-content: center; /*allineamento orizzontale*/
	align-items: center;/*allineamento verticale*/
	gap: 15px; /*spaziatura tra gli elementi*/

}

.card-back{
	transform: rotatey(180deg);
	display:grid;
	grid-template-columns: 70px auto;
	grid-template-rows: 25px 25px 25px;
	column-gap: 8px;
	row-gap: 5px;
	padding-top: 24px;
	padding-left: 5px;
}


.box6 .card:hover{
	cursor: pointer;
	transform: rotateY(180deg);
}

.card-back p:nth-of-type(odd){
	text-align: right;
}