body {
	font-family: Arial, sans-serif;
	padding: 30px;
}

h2 { margin-top: 50px; }


/* Box interni */
.item {
	font-size: 15pt;
	padding: 20px;
	margin: 5px;
	text-align: center;
	background: #4da3ff;
	color: white;
	border-radius: 6px;
}

/* Contenitori  */
.flex {
	max-width:800px;
	min-height: 100px;
	border: 2px solid #ddd;
	padding: 15px;
	margin-bottom: 20px;
	display: flex; /* gli elementi interni diventano inline-block */
}

/* ****************************************************************** */

.row{
	flex-direction: row;
}

.first-row{
	flex-direction: row-reverse;
}

.first-row > .item{
	/*se sono troppo grandi per farli stare su una riga. automaticamente li riduce per farli stare su una riga*/
	width: 900px;
	/* in orizzontale, se gli elementi interni non hanno height, automaticamente assumono la height del contenitore*/
	height: 25px;
}

.column{
	flex-direction: column;
}

.column > .item {
	/* in verticale, se gli elementi interni non hanno width, automaticamente assumono la width del contenitore*/
	width: 100px;
}

.wrap{
	flex-wrap: wrap;
}

.wrap > .item{
	width: 150px;
}

.horizontal-spacing{
	justify-content: center;
	justify-content: space-evenly;
}

.vertical-spacing{
	height: 300px;
	flex-wrap: wrap;
	align-content: center;
}

.grow > .item {
	/*assegna a tutti gli item la stessa larghezza in  modo da riempire tutto il contenitore*/
	flex-grow: 1;
}

.sizes > .item {
	flex-grow: 1;
}

.sizes > .item:nth-last-of-type(2){
	flex-grow: 2;
}